@media (max-width: 768px) {
  .list_items {
    flex-direction: column;
    width: 90%;
  }
  .list_items li {
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .menu {
    margin-top: 100px;
  }
  .list_items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .menu {
    margin-top: 150px;
  }
  .grid-cols-5 {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .list_items li .container_images img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100px;
    background-position: center;
    cursor: pointer;
  }

  @media (max-width: 480px) {
    .grid-cols-5 {
      flex-direction: column;
      align-items: start;
      width: 90%;
    }
    .list_items li {
      width: 100%;
    }
  }
}
