@media (max-width: 768px) {
  .list_items {
    flex-direction: column;
    width: 90%;
  }
  .list_items li {
    width: 80%;
  }
}

@media (max-width: 1440px) {
  .menu {
    margin-top: 100px;
  }
  .list_items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .menu {
    margin-top: 150px;
  }
  .list_items {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  @media (max-width: 480px) {
    .list_items {
      flex-direction: column;
      align-items: start;
      width: 90%;
    }
    .list_items li {
      width: 100%;
    }
  }
}
