.nav_bar {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  color: #fff;
}
.nav_bar nav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav_bar nav .cart {
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
}

.nav_bar nav .cart:hover {
  background-color: #121212;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bolder;
}
.search_item {
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
}

.search_item input {
  padding: 0.6rem 1rem;
  width: 100%;
  border-radius: 0.5em;
  border: none;
}

.search_item .search_icon {
  position: absolute;
  right: 10px;
  color: black;
}
