.select_container {
  display: flex;
  gap: 0.5em;
}
.select_container button {
  cursor: pointer;
  padding: 0.5em;
  background-color: rgb(255, 217, 217);
  border: solid 1px rgb(255, 217, 217);
  border-radius: 0.5em;
  color: rgb(56, 2, 2);
}
#select {
  cursor: pointer;
  padding: 0.5em;
  border: solid 1px #ddd;
  border-radius: 0.5em;
}

.items_quantity {
  display: flex;
  gap: 0.5rem;
}

.items_quantity .quantity_description {
  font-weight: 400;
  font-size: 1.1rem;
}

.items_quantity .quantity {
  font-weight: bold;
  font-size: 1.1rem;
}
